{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Items{% endblock %}
{% block content %}


<div class="container">
    <p>&nbsp;</p>
    <form action="." method="post">
      {% csrf_token %}
      <div class="col-lg-3 col-md-6 mb-4" >
            {{ sort_form }}
        <input class="btn btn-primary" style="float: right;" type="submit" value="검색">
      </div>
    </form>
    <p>&nbsp;</p>
    <div class="row text-center">
    {% if item_list %}
    {% for item in item_list %}
    <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              {% if item.image %}
              <img class="card-img-top" src="{{item.image.url}}" alt="">

              {% endif %}
              <div class="card-body">
                <h4 class="card-title">{{item.name}}</h4>
                <p class="card-text">{{item.explanation}}</p>
                <p class="card-text">
                  {% for tag in item.tag_set.all %}
                    <a href="/item/{{tag.name}}/">#{{tag.name}}</a> &nbsp;
                  {% endfor %}
                </p>

              </div>
              <div class="card-footer">
                <form action = "/rent/{{item.id}}/" method="post">
                  {% csrf_token %}
                  <button class="btn btn-primary btn-block">지금 빌리러가기</button>
                </form>
              </div>
            </div>
    </div>
    {% endfor%}
    {% else %}
    {% endif %}
    </div>
</div>
{% endblock %}

