{% extends 'main/base.html' %}

{% block title %}Update Item{% endblock %}
{% block content %}

<div class="item_form">
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in item_update_form %}
			<div class="form-group">
				{{ field.label_tag }}
				{{ field }}
				{% if field.errors %}
					{% for error in field.errors %}
					<span class="help-block">{{ error }}</span>
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}

		{% if item_update_form.non_field_errors %}
			{% for error in item_update_form.non_field_errors %}
			<p class="text-danger"><b>{{ error }}</b></p>
			{% endfor %}
		{% endif %}
		<button class="btn btn-primary btn-block">수정</button>
	</form>
	<div style="margin: 10px 0"></div>
	<form action = "/item/delete/{{item_id}}/" method="post">
		{% csrf_token %}
		<button class="btn btn-primary btn-block" onclick="return confirm('Are you sure?')">삭제</button>
	</form>
</div>
{% endblock %}