{% extends 'main/base.html' %}

{% block title %}Items{% endblock %}
{% block content %}


<div class="container">
        <ul>            
            <li class='btn btn-primary'><a href = "{% url 'member:charge' %}">크레딧 충전하기</a></li>
        </ul>
    
    <h4>공유중인 아이템</h4>
    <div class="row text-center">
    {% if item_list %}   
    {% for item in item_list%}

    <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="{{item.image.url}}" alt="">
              <div class="card-body">
                <h4 class="card-title">{{item.name}}</h4>
                <p class="card-text">{{item.explanation}}</p>
              </div>
              <div class="card-footer">
                <form action = "/rent/{{item.id}}/" method="post">
                  {% csrf_token %}
                  <button class="btn btn-primary btn-block">지금 빌리러가기</button>
                </form>
              </div>
            </div>
    </div>
    {% endfor%}
    </div>
    {% else %}
    no item
    {% endif %}
</div>
{% endblock %}

