{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" style="background-image: url('{% static 'images/main.jpg' %}');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ">
      <h1 class="display-3" style="color: white;">필요한 무엇이든 빌리세요!</h1>
      <p class="lead" style="text-shadow: -1px 0 gray, 0 1px black, 1px 0 gray, 0 -1px gray;">ShareShare 프로젝트는 곧 런칭될 예정입니다. 공유경제 사회에 한 발자국 앞서 가세요!</p>
      <form action="." method="post">
          {% csrf_token %}
          <div class ="search-bar">
          <input  type="text" placeholder="빌리실 물건은?">
          <input class="btn" type="submit" value="검색">
        </div>
      </form>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/books.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">도서/서적</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/camping.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">캠핑/레져</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/kitchen.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">생활/가전</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/fashion.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">의류/패션</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}
