{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" style="background-image: url('{% static 'images/main1.png' %}');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ">
      <h1 class="display-3" style="color: white;">필요한 무엇이든 빌리세요!</h1>
      <p class="lead" style="text-shadow: -1px 0 gray, 0 1px black, 1px 0 gray, 0 -1px gray;">ShareShare 프로젝트는 곧 런칭될 예정입니다. 공유경제 사회에 한 발자국 앞서 가세요!</p>
      {% if search_form %}
      <form style="float: right" action="." method="post">
          {% csrf_token %}
          {{ search_form }}
          <input class="btn btn-primary" type="submit" value='검색'>
      </form>
      {% endif %}
    </header>

    {% if user.is_authenticated %}
    <div>
      <h4 style="float: left">추천 아이템</h4>
      <input type="button" class="btn btn-primary btn-block col-lg-3 col-md-6 mb-4" style="float: left" value="인공지능 추천(Beta)" onclick="location.href='/main/recommend/'"/>
    </div>
    <div class="row text-center">
        {% if item_list %}
        {% for item in item_list %}
        <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                  {% if item.image %}
                  <img class="card-img-top" src="{{item.image.url}}" alt="">
    
                  {% endif %}
                  <div class="card-body">
                    <h4 class="card-title">{{item.name}}</h4>
                    <p class="card-text">{{item.explanation}}</p>
                    <p class="card-text">
                        {% for tag in item.tag_set.all %}
                          <a href="/item/{{tag.name}}/">#{{tag.name}}</a> &nbsp;
                        {% endfor %}
                      </p>
    
                  </div>
                  <div class="card-footer">
                    <form action = "/rent/{{item.id}}/" method="post">
                      {% csrf_token %}
                      <button class="btn btn-primary btn-block">지금 빌리러가기</button>
                    </form>
                  </div>
                </div>
        </div>
        {% endfor%}
        {% else %}
        {% endif %}

    {% else %}
    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/books.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">도서/서적</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/camping.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">캠핑/레져</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/kitchen.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">생활/가전</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/fashion.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">의류/패션</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

    </div>
    {% endif %}
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}
